sound_shoot.wav filter=lfs diff=lfs merge=lfs -text
sound_coin.wav filter=lfs diff=lfs merge=lfs -text
sound_explode.wav filter=lfs diff=lfs merge=lfs -text
sound_hit.wav filter=lfs diff=lfs merge=lfs -text
sound_jump.wav filter=lfs diff=lfs merge=lfs -text
moving_platform.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_cloud_3.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_fg_1.png filter=lfs diff=lfs merge=lfs -text
bullet.png filter=lfs diff=lfs merge=lfs -text
tiles_demo.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_sky.png filter=lfs diff=lfs merge=lfs -text
osb_fire.png filter=lfs diff=lfs merge=lfs -text
osb_left.png filter=lfs diff=lfs merge=lfs -text
robot_demo.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_cloud_1.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_cloud_2.png filter=lfs diff=lfs merge=lfs -text
one_way_platform.png filter=lfs diff=lfs merge=lfs -text
enemy.png filter=lfs diff=lfs merge=lfs -text
icon.png filter=lfs diff=lfs merge=lfs -text
osb_jump.png filter=lfs diff=lfs merge=lfs -text
osb_right.png filter=lfs diff=lfs merge=lfs -text
scroll_bg_fg_2.png filter=lfs diff=lfs merge=lfs -text
coin.png filter=lfs diff=lfs merge=lfs -text
sound_hurt1.wav filter=lfs diff=lfs merge=lfs -text
